@using Practice_ASP.Data.Models;
@model IEnumerable<Category>;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Інтернет магазин побутової техніки</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Інтернет магазин побутової техніки</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action("Index", "Category")">Каталог</a>
                </li>
            </ul>
            <a href="@Url.Action("Index", "Cart")" class="btn btn-outline-primary ml-2">Кошик</a>
        </div>
    </nav>

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-3">
                <div class="list-group">
                    @foreach (var category in Model)
                    {
                        <button onclick="getAppliancesByCategory(@category.Id)" class="list-group-item list-group-item-action">@category.Name</button>
                    }
                </div>
            </div>
            <div class="col-md-9">
                <div class="card-deck" id="appliancesContainer">
                    <h1>Натисніть кнопку категорії зліва</h1>
                </div>
            </div>
        </div>
    </div>

    <script src="~/js/bootstrap.min.js"></script>
    <script>
        function getAppliancesByCategory(categoryId) {
            fetch("/Category/GetAppliancesByCategory?idCategory=" + encodeURIComponent(categoryId))
                .then(response => response.json())
                .then(data => {
                    const appliancesContainer = document.getElementById("appliancesContainer");
                    appliancesContainer.innerHTML = "";

                    if (data.length === 0) {
                        const noResultsMessage = document.createElement("h1");
                        noResultsMessage.textContent = "Натисніть кнопку категорії зліва";
                        appliancesContainer.appendChild(noResultsMessage);
                    } else {
                        data.forEach(appliance => {
                            const card = createApplianceCard(appliance);
                            const column = document.createElement("div");
                            column.className = "col-md-4";
                            column.appendChild(card);
                            appliancesContainer.appendChild(column);
                        });
                    }
                })
                .catch(error => {
                    console.log(error);
                });
        }

        function createApplianceCard(appliance) {
            const card = document.createElement("div");
            card.className = "card";

            const image = document.createElement("img");
            image.className = "card-img-top img-fluid custom-img";
            image.src = appliance.ImgUrl;
            image.alt = appliance.name;
            card.appendChild(image);

            const cardBody = document.createElement("div");
            cardBody.className = "card-body";
            card.appendChild(cardBody);

            const title = document.createElement("h5");
            title.className = "card-title";
            title.textContent = appliance.Name;
            cardBody.appendChild(title);

            const description = document.createElement("p");
            description.className = "card-text card-description";
            description.textContent = appliance.Description;
            cardBody.appendChild(description);

            const buyButton = document.createElement("a");
            buyButton.className = "btn btn-primary";
            buyButton.addEventListener("click", function () {
                addToCart(appliance.Id);
            });
            buyButton.textContent = "Купить";
            cardBody.appendChild(buyButton);

            const detailButton = document.createElement("a");
            detailButton.className = "btn btn-warning";
            detailButton.href = "/Appliance/ApplianceDetails?id=" + encodeURIComponent(appliance.Id);
            detailButton.textContent = "Детальніше";
            cardBody.appendChild(detailButton);

            return card;
        }

        function addToCart(applianceId) {
            fetch(`/Cart/AddToCart?applianceId=${encodeURIComponent(applianceId)}`, {
                method: "POST"
            })
                .then(response => {
                    if (response.ok) {
                        console.log("Товар доданий до кошика.");
                    } else {
                        console.error("Помилка при додаванні товару в кошик.");
                    }
                })
                .catch(error => {
                    console.error("Помилка під час виконання запиту.", error);
                });
        }
    </script>
</body>
</html>